<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @meal.user_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @meal.member_id %>
</p>

<p>
  <strong>Breakfast:</strong>
  <%= @meal.breakfast %>
</p>

<p>
  <strong>Lunch:</strong>
  <%= @meal.lunch %>
</p>

<p>
  <strong>Dinner:</strong>
  <%= @meal.dinner %>
</p>

<p>
  <strong>Guest:</strong>
  <%= @meal.guest %>
</p>

<p>
  <strong>Total:</strong>
  <%= @meal.total %>
</p>

<%= link_to 'Edit', edit_meal_path(@meal) %> |
<%= link_to 'Back', meals_path %>
