<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @deposit.user_id %>
</p>

<p>
  <strong>Member:</strong>
  <%= @deposit.member_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @deposit.name %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @deposit.amount %>
</p>

<p>
  <strong>Date:</strong>
  <%= @deposit.date %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @deposit.comments %>
</p>

<%= link_to 'Edit', edit_deposit_path(@deposit) %> |
<%= link_to 'Back', deposits_path %>
